div {
    /* border:1px solid blue;*/
}
.fleft{
    float:left;
}
.cleft{
    clear:left;
}
#main_div{
    width:800px;
    height:500px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
#bulletin{
    width:100%;
}
#bulletin p{
    font-size:16px;
    margin-top:10px;
}
#room_div{
    width:70%;
    height:90%;
    margin-top:10px;
}
#room_list tbody{
    align-items: center;
}
#room_list tbody tr{
     cursor: pointer;
}
.tr_click{
    background: #2e6da4;
}
#information_div{
     width:30%;
     height:90%;
 }
#information_div p{
    width:100%;
    margin-top:20px;
    margin-left:20px;
}
#information_div button{
    margin-right: 20px;
}