<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uy.record.dao.EpisodeDao">

    <select id="findEpisodeBySearchItem" resultMap="episodeMap" parameterType="map">
        select
          id,name,type,drama_type,total,writer,performers,is_end,show_time,watch_time,watch_state,level
        from
          episode
        where
          1=1
        <if test="item.name != null and item.name != ''">
          and name like #{item.name}
        </if>
        <if test="item.type != null and item.type != ''">
          and type like #{item.type}
        </if>
        <if test="item.dramaType != null and item.dramaType != '' and item.dramaType != '所有'">
          and drama_type = #{item.dramaType}
        </if>
        <if test="item.performers != null and item.performers != ''">
          and performers like #{item.performers}
        </if>
        <if test="item.state != null and item.state != '' and item.state != '所有'">
          and is_end = #{item.state}
        </if>
        <if test="item.watchState != null and item.watchState != '' and item.watchState != '所有'">
          <if test="item.watchState == '已看完'">
            and watch_state = '已看完'
          </if>
          <if test="item.watchState != '已看完'">
            and watch_state != '已看完'
          </if>
        </if>
        <if test="item.seasonYear != null and item.seasonYear != ''">
            <if test="item.seasonSeason == '所有'">
              and show_time between str_to_date(concat(#{item.seasonYear},'-01-01'), '%Y-%m-%d') and str_to_date(concat(#{item.seasonYear},'-12-31'), '%Y-%m-%d')
            </if>
            <if test="item.seasonSeason == '春季'">
                and show_time between str_to_date(concat(#{item.seasonYear},'-04-01'), '%Y-%m-%d') and str_to_date(concat(#{item.seasonYear},'-06-30'), '%Y-%m-%d')
            </if>
            <if test="item.seasonSeason == '夏季'">
                and show_time between str_to_date(concat(#{item.seasonYear},'-07-01'), '%Y-%m-%d') and str_to_date(concat(#{item.seasonYear},'-09-30'), '%Y-%m-%d')
            </if>
            <if test="item.seasonSeason == '秋季'">
                and show_time between str_to_date(concat(#{item.seasonYear},'-10-01'), '%Y-%m-%d') and str_to_date(concat(#{item.seasonYear},'-12-31'), '%Y-%m-%d')
            </if>
            <if test="item.seasonSeason == '冬季'">
                and show_time between str_to_date(concat(#{item.seasonYear},'-01-01'), '%Y-%m-%d') and str_to_date(concat(#{item.seasonYear},'-03-31'), '%Y-%m-%d')
            </if>
        </if>
		order by case when watch_state = '已看完' then 0 else 1 end desc,create_time desc
    </select>

    <insert id="add" parameterType="org.uy.record.entity.EpisodeDto">
        insert into episode(id,name,type,total,drama_type,writer,performers,is_end,show_time,watch_time,watch_state,level,introduce,create_time)
          values(#{obj.id},#{obj.name},#{obj.type},#{obj.total},#{obj.dramaType},#{obj.writer},#{obj.performers},#{obj.isEnd},#{obj.showTime},#{obj.watchTime},#{obj.watchState},#{obj.level},#{obj.introduce},now())
    </insert>

    <update id="update" parameterType="org.uy.record.entity.EpisodeDto">
        update episode set
          name = #{obj.name},
          type = #{obj.type},
          total = #{obj.total},
          drama_type = #{obj.dramaType},
          writer = #{obj.writer},
          performers = #{obj.performers},
          is_end = #{obj.isEnd},
          show_time = #{obj.showTime},
          watch_time = #{obj.watchTime},
          watch_state = #{obj.watchState},
          level = #{obj.level},
          introduce = #{obj.introduce}
        where
          id = #{obj.id}
    </update>

    <select id="findEpisodeById" resultMap="episodeMap" parameterType="java.lang.String">
        select
          *
        from
          episode
        where
          id = #{id}
    </select>

    <resultMap type="org.uy.record.entity.EpisodeDto" id="episodeMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="count" column="count" javaType="java.lang.Integer"/>
        <result property="dramaType" column="drama_type"/>
        <result property="writer" column="writer"/>
        <result property="performers" column="performers"/>
        <result property="isEnd" column="is_end"/>
        <result property="showTime" column="show_time"/>
        <result property="watchTime" column="watch_time"/>
        <result property="watchState" column="watch_state"/>
        <result property="level" column="level"/>
        <result property="introduce" column="introduce"/>
    </resultMap>
</mapper>