<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uy.dao.MovieDao">

    <select id="findMovieBySearchItem" resultMap="movieMap" parameterType="map">
        select
          id,name,type,region,duration,director,performers,show_time,watch_time,level
        from
          movie
        where
          1=1
        <if test="item.name != null and item.name != ''">
          and name like #{item.name}
        </if>
        <if test="item.type != null and item.type != ''">
          and type like #{item.type}
        </if>
        <if test="item.director != null and item.director != ''">
          and director like #{item.director}
        </if>
        <if test="item.region != null and item.region != ''">
          and region like #{item.region}
        </if>
        <if test="item.performers != null and item.performers != ''">
          and performers like #{item.performers}
        </if>
		order by create_time desc
    </select>

    <insert id="add" parameterType="org.uy.entity.MovieDto">
        insert into movie(id,name,type,duration,region,director,performers,show_time,watch_time,level,introduce,create_time)
          values(#{obj.id},#{obj.name},#{obj.type},#{obj.duration},#{obj.region},#{obj.director},#{obj.performers},#{obj.showTime},#{obj.watchTime},#{obj.level},#{obj.introduce},now())
    </insert>

    <update id="update" parameterType="org.uy.entity.MovieDto">
        update movie set
          name = #{obj.name},
          type = #{obj.type},
          duration = #{obj.duration},
          region = #{obj.region},
          director = #{obj.director},
          performers = #{obj.performers},
          show_time = #{obj.showTime},
          watch_time = #{obj.watchTime},
          level = #{obj.level},
          introduce = #{obj.introduce}
        where
          id = #{obj.id}
    </update>

    <select id="findMovieById" resultMap="movieMap" parameterType="java.lang.String">
        select
          *
        from
          movie
        where
          id = #{id}
    </select>

    <resultMap type="org.uy.entity.MovieDto" id="movieMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="duration" column="duration" javaType="java.lang.Integer"/>
        <result property="region" column="region"/>
        <result property="director" column="director"/>
        <result property="performers" column="performers"/>
        <result property="showTime" column="show_time"/>
        <result property="watchTime" column="watch_time"/>
        <result property="level" column="level"/>
        <result property="introduce" column="introduce"/>
    </resultMap>
</mapper>