<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uy.record.dao.OperationDao">

    <resultMap type="org.uy.record.entity.OperationDto" id="operationMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="action" column="action"/>
        <result property="actionTime" column="action_time"/>
    </resultMap>

    <select id="findOperationBySearchItem" parameterType="map" resultMap="operationMap">
        select
          type,name,action,action_time
        from
          operation
        order by action_time desc
    </select>

    <insert id="add" parameterType="org.uy.record.entity.OperationDto">
        insert into
          operation (id,type,name,action,action_time)
        values
          (#{obj.id},#{obj.type},#{obj.name},#{obj.action},now())
    </insert>
</mapper>