.episode-toolbar{
    padding-top: 15px;
}

.episode-toolbar button{
    float:left;
    margin-left: 20px;
}

.episode-toolbar .form-group{
    margin-left: 20px;
}

#episode_table tr:hover{
    background: #c3e5f0;
    cursor:pointer;
}

#episode_table tr{
    height: 51px;
}

